 .alert{
   position: absolute;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    width: 20%;
    opacity: 0.8;
    right: 0%;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    top: 10%;
 }

 @media screen and (max-width: 1400px) {
	 .alert{
	 	width:40%;
	 	
	 }
}
@media screen and (max-width: 1024px) {
	 .alert{
	 	width:40%;
	 	
	 }
}
@media screen and (max-width: 640px) {
	 .alert{
	 	width:60%;
	 	
	 }
}
  